mixin card-site(meta)
  article(class='card-site')
    picture()
      source(srcset=`${require('Images/hero/'+meta.id+'-420.webp').default},
                     ${require('Images/hero/'+meta.id+'-840.webp').default} 2x` 
                     type='image/webp')
      source(srcset=`${require('Images/hero/'+meta.id+'-420.jpg').default},
                     ${require('Images/hero/'+meta.id+'-840.jpg').default} 2x` 
                     type='image/jpg')
      img(class='card-site--img' src=`${require('Images/hero/'+meta.id+'-420.jpg').default}` width='420' height='248' alt='страница сайта')
    div(class='card-site--txt')
      h2(class='card-site--name') #{meta.name}
      div(class='card-site--list-link')
        a(class='card-site--link' href=`${meta.link.site}`) сайт 
        a(class='card-site--link' href=`${meta.link.figma}`) макет в figma
        a(class='card-site--link' href=`${meta.link.code}`) исходный код на github
    ul(class='card-site--list-tag')
      each tag in meta.tags
        li(class='card-site--tag') ##{tag}